{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
        {% include "include/header.html" %}
<!-- PRE LOADER -->
<section id="home" class="main-gallery parallax-section"
         style="background: url('{% static 'img/1124581-hayao-miyazaki-et-le-heron-le-documentaire-exclusif-de-kaku-arakawa.jpg' %}') no-repeat center center; background-size: cover;">
    <div id="particles-js"></div>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                    <h1>Image Gallery</h1>
               </div>

          </div>
     </div>
</section>

<!-- Gallery Section -->
<section id="gallery">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <h2>Галерея</h2>
                    <p>Галерея
Добро пожаловать в нашу галерею — визуальное пространство, вдохновлённое мирами Студии Гибли.
Здесь собраны образы, которые передают ту самую атмосферу: тишину летнего ветра, свет фонарей в ночи, магию леса и уют простых моментов.

Каждая работа — это дань красоте, вниманию к деталям и нежности, которую мы так ценим в фильмах Гибли.
Листайте, вдохновляйтесь, чувствуйте.

Пусть эти образы говорят то, что словами не передать.</p>

                    <div class="col-md-6 col-sm-6">
                        {%for gallery in gallerys %}
                         <div class="gallery-thumb">
                              <a href="{{gallery.image.url}}" class="image-popup">
                                   <img src="{{gallery.image.url}}" class="img-responsive" alt="Gallery Image">
                              </a>
                         </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6 col-sm-6">
                        {% for photo in photos %}
                         <div class="gallery-thumb">
                              <a href="{{photo.photo.url}}" class="image-popup">
                                   <img src="{{photo.photo.url}}" class="img-responsive" alt="Gallery Image">
                              </a>
                         </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-12 col-sm-12">
                    </div>
               </div>

          </div>
     </div>
</section>
<!-- Back top -->

<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
{% include "include/footer.html" %}

    {% endblock %}


